*{
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --primary-color: #f5b754;
    --primary-color-dark: #d6a04a;
    --text-darK: #15191d;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --white: #ffffff;rgb(14 55 54 / 15%);
}