
:root{
    --primary-color: #f5b754;
    --primary-color-dark: #d6a04a;
    --text-darK: #15191d;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Syncopate", "sans-serif"; 
}
